

.container{
  width: 100%;
  max-width: 650px;
  background: rgb(255, 255, 255);
  padding: 28px;
  margin: 0 28px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px rgb(255, 255, 255);
  position: absolute;

  top:10%;

}

.form-title{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: black;

  border-bottom: solid 1px black;
}

.main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label{
  width: 95%;
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.gender-title{
  color:white;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid white;
}

.gender-category{
  margin: 15px 0;
  color: white;
}

.gender-category label{
  padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
  cursor: pointer;
}

.form-submit-btn{
  margin-top: 40px;
}

.form-submit-btn input{
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border:none;
  border-radius: 3px;
  color: black;
  background: rgba(0, 255, 64, 0.7);
}

.form-submit-btn input:hover{
  background: rgba(0, 255, 64, 0.7);
  color: rgb(255, 255, 255);
}

@media(max-width: 600px){
  .container{
      min-width: 280px;
  }

  .user-input-box{
      margin-bottom: 12px;
      width: 100%;
  }

  .user-input-box:nth-child(2n){
      justify-content: space-between;
  }

  .gender-category{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .main-user-info{
      max-height: 380px;
      overflow: auto;
  }

  .main-user-info::-webkit-scrollbar{
      width: 0;
  }
}

.container{
  width: 100%;
  max-width: 650px;
  background: rgb(255, 255, 255);
  padding: 28px;
  margin: 0 28px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px rgb(255, 255, 255);
  position: absolute;
  left: 30%;
  top:10%;

}

.form-title{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: black;

  border-bottom: solid 1px black;
}

.main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label{
  width: 95%;
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.gender-title{
  color:white;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid white;
}

.gender-category{
  margin: 15px 0;
  color: white;
}

.gender-category label{
  padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
  cursor: pointer;
}

.form-submit-btn{
  margin-top: 40px;
}

.form-submit-btn input{
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border:none;
  border-radius: 3px;
  color: black;
  background: rgba(0, 255, 64, 0.7);
}

.form-submit-btn input:hover{
  background: rgba(0, 255, 64, 0.7);
  color: rgb(255, 255, 255);
}

@media(max-width: 600px){
  .container{
      min-width: 280px;
  }

  .user-input-box{
      margin-bottom: 12px;
      width: 100%;
  }

  .user-input-box:nth-child(2n){
      justify-content: space-between;
  }

  .gender-category{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .main-user-info{
      max-height: 380px;
      overflow: auto;
  }

  .main-user-info::-webkit-scrollbar{
      width: 0;
  }
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  display: inline-block;
}

#src-file1::before {
  content: 'Seleccionar Archivo 1';
}


.last{
padding: 5px;
background-color: beige;
border-radius: 5px;
text-align: left;
left: 0;
}

.next{
padding: 5px;
background-color: beige;
border-radius: 5px;
right: 0;
}


.form-submit-btn{
  width: 100%;
  display: flex;
  margin:  0 auto;
}


.last,
.next {
  position: absolute;
  background: rgba(131, 255, 114, 0.959);;
  color: black;
  padding: 10px;
  border-radius: 5px;
  bottom: 10px;
  text-decoration: none;
}
.last:hover,
.next:hover {
  background: rgba(169, 255, 158, 0.959);
  cursor: pointer;
}

.next {
  right: 10px;
}

.last {
  left: 10px;
}

p {
  border: 1px solid rgb(0, 0, 0);
  padding: .5em;
  background-color: azure;
  -webkit-box-shadow: -2px 0px 13px -2px rgba(0,0,0,0.52);
  box-shadow: -2px 0px 13px -2px rgba(0,0,0,0.52);
}

.block{
  padding: .5em;
  background-color: rgb(151, 190, 190);
  color: white;
  display: block;
  border-radius: 5px;
}
.test{
  width: 100%;
  max-width: 650px;
  background: rgb(255, 255, 255);
  padding: 28px;
  margin: 0 28px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px rgb(255, 255, 255);
  position: absolute;
  top:92%;
  left: 30%;

}
.comentarios{
  width: 100%;
  max-width: 650px;
  padding: 10px;
  margin-bottom: 20px;
}
.comentariobutton{
  padding: 8px;
  float: right;
  background-color: rgb(106, 109, 202);
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 5px;
  color: white!important;
}
.comentariobutton:hover{
  background-color: rgb(124, 128, 255);
  cursor: pointer;
  transition: all .5s;
}
.comentarInput{
  margin-bottom: 30px;
}


.comentarInput label,input{
  width: 100%;
  max-width: 650px;
  padding: 10px;
}

.comentarInput a{
  background-color: rgba(0, 140, 255, 0.568);
  padding: 5px;
  margin-top: 10px;
  float: right;
  max-height: 35px;
  border-radius: 15px;
  color: white;
}

.comentarInput a:hover{
  cursor: pointer;
  color: white;
  background-color: rgba(0, 140, 255, 0.836);
  text-decoration: none;
  transition: .5s;
}

.comentarInput label{
  float: left;

}

.testing{
  display:flex;
}

.labelComent{
  font-weight: bold;
  font-size: 25px;
}
